<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key ="ConsumerKey" value="xxx"/>
  <add key="ConsumerSecret" value="xxx"/>
  <add key="OAuthToken" value="xxx"/>
  <add key="OAuthTokenSecret" value="xxx"/>
  <add key="OAuthBaseURL" value="http://api.fitbit.com/"/>
  <add key="OAuthRequestURL" value="oauth/request_token" />
  <add key="OAuthAccessUrl" value="oauth/access_token"/>
  <add key="OAuthAuthorizeUrl" value="oauth/authorize"/>
</appSettings>
</configuration>